@charset "utf-8";
body {
    background: #EBC798;
}

body img {

border-radius: 5%;

}

header {
    display: 0;
    margin: -0.6%;
    background-color: #380F00;
    color: rgb(182, 186, 189);
    max-height: 250px;
    border-radius: 2%;
}


.main-header {
    display: flex;
    text-align: left;
    margin-right: 50%;
    margin-left: 85%;
    margin-top: -11%;
}

.container {
    display: grid;
    left: 50%;
    right: 50%;
    background-color: bisque;
    border-radius: 5%;
    max-width: 900px;
    max-height: 600px;
    overflow: hidden;
    padding: 5em;
    margin: 3%;
}

.card {
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

aside {
    display: grid;
    left: 50%;
    position: absolute;
    /* top: 32.5%; */
    top: 61.2%;
    right: 0;
}

.card2 {
    display: grid;
    gap: 0.1em;
    background: #C9914D;
    margin-bottom: 3em;
    border-radius: 5%;
    text-align: center;
    margin-top: -28%;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e0b17b;
    overflow: hidden;
    padding: 0.9em;
    border-radius: 5%;
}


.imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #d3a674;
    overflow: hidden;
    padding: 1em;
    border-radius: 5%;
    gap: 5px;
}

footer {
    display: flex;
    position: absolute;
    background-color: #C9914D;
    margin: 2em;
    margin-top: 8.5%;
    text-align: center;
    padding: 2em;
    border-radius: 6%;
    align-items: center;
    width: 550px;
    

}

footer div{

    background-color: #836037;
    border-radius: 8%;
    color: #16120e;
    font-size: small;
    display: flex;
    position: absolute;
    left: 25%;

}